<main>    
   <div class="col-12"> 
    {{#with page}}
    <div class="header">
        {{#with header}}
            
        <strong class="col-2">{{logotype}} </strong>


        {{#each navigation}}
           
            <a href={{url}} target="_blank" class="btn btn-link col-2">{{text}} </a>
                               
        {{/each}}

        {{#each icon}}
        {{.}}
        {{/each}}

        <h1 class="hero">{{title}} </h1>

        {{/with}} 
    </div>

    {{#each priority}}
        <div class="prior">
            <img src="{{picture}}" alt="picture">
            <div class="prior-cont">
                <h2 class="name">{{name}} </h2>
                <p class="descr">{{description}}</p>
            </div>
        </div>
    {{/each}}

    {{#with places}}
        <label for="">{{label}} </label>
        <input type="{{searchFild}}", placeholder="{{placeyolder}}">

        {{#each place}}
            <img src="{{photo}}" alt="photo">
            <p class="place-descr">{{ description}} </p>
        {{/each}}
    {{/with}}

    {{/with}}   

    </div>
</main>