<main>  
    <div>
   
    {{#with page}}
    <div class="header">
        {{#with header}}
        <div class="top-content">    
            <strong class="logo">{{logotype}} </strong>
            <span>
                {{#each navigation}}           
                <a href={{url}} target="_blank" class="nav-content">{{text}} </a>
                {{/each}}
            </span>
            {{!-- <div class="srv-btn">
                {{#each icon}}
                <button> {{.}}</button>
                {{/each}}
            </div> --}}
        </div>
        <div class="hero-block">
        {{#with hero}}  
            <h1 class="hero-title">{{title}} </h1>
            <p class="hero-text">{{text}} </p>
            <div class="hero-btn">
            {{#with buttons}}
                <button class="search">{{serch}} </button>
                <div>
                 <button class="learn">{{learn}} 
                  
                   </button>
                    <span class="icon" style="background-image: url('/svg/arrow-more.svg')"></span>

                 </div>
            {{/with}}
            </div>

            {{/with}}
        
        {{/with}} 
        </div>
    </div>

    {{#with about}}
    <div class="about">
        <h2 class="about-title">{{title}} </h2>
        <div class="about-cont">
            {{#each content}}        
            <div class="about-items">
                <img class="about-img" src="{{picture}}" alt="picture">
                <h2 class="about-slogan">{{slogan}} </h2>
                <p class="about-descr">{{description}}</p>
            </div>                 
        {{/each}}
        </div> 
    </div>
    {{/with}}

    <div class="social-cont"> 

            <div class="social"> 
            </div>

            <img class="picture" src="/png/phone.png" alt="picture" srcset="">
            <img class="picture" src="/png/screenPhone.png" alt="picture" srcset="">
            {{#with social}}
            <div class="social-block">
                <h2 class="social-title">{{title}} </h2>
                <p class="social-text">{{text}} </p>
                <div class="social-icons"> 

                     <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/circle.png" alt="">
                        <img  class="social-in" src="/png/instag.png" alt="">
                        </a>
                    </div>
                    <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/Facebook.png" alt="">
                        </a>
                    </div>
                    <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/Telegram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>

    <div class="form">
    {{#with places}}
        <h2>{{title}}</h2>
    {{!-- ------------------------------------- --}}
            <div >
            {{#with form}}
                <div class="form-search">
                    {{!-- <label for="serch" >{{label}} </label> --}}
                    <input type="{{searchFild}}" class="form-input" placeholder="{{placeyolder}}" name="serch">
                    <img src="/png/iconSearch.png" alt="" class="search-icon">
                    {{!-- <span class="search-icon" style="background-image: url('/svg/search.svg')"></spanstyle></span> --}}
                </div>

                <div class="filtr">
                    {{#each filtr}}                    
                        <div class="filtr-category">
                            <p class="name-filtr">{{category}} </p>
                            <select class="input-filtr" name="{{placeyolder}}" id="">
                                <option value="">
                                        {{option}}
                                </option>
                            </select>
                           
                        </div> 
                    {{/each}} 
                 </div>
                {{!-- <button class="butn">{{buttonSearch}} </button>
                <button class="butn">{{buttonFiltr}} </button> --}}
            {{/with}}
            </div>
    {{!-- -----------------------------------------}}
            <div class="place-list">
                {{#each place}}
                    <div class="place-item">
                        <img src="{{photo}}" alt="photo" class="place-img">                   
                    
                        <div class="place-text">
                            <p class="place-descr">{{descriptionPlace}} </p>
                            {{!-- <button class="place-btn"> Ще фото </button> --}}
                        </div>
                    </div>        
                {{/each}} 
            </div>

{{!-- --------------------------------------------- --}}
        {{/with}}
    </div>
    
    {{#with activeMap}}
    <div class="map">
             <h3 class="map-title">{{title}}</h3>
             <iframe class="map-link" src="{{src}}" width="1300" height="620" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe>
              <div class="googl-map-link">
                <a href="https://www.google.com/maps/@50.393338,25.9771985,11.38z?authuser=0&entry=ttu" target="_blank" rel="noopener noreferrer">
                <button class="googl-map-text">{{link}}</button></a>
                <span class="google-map-arrow" style="background-image: url('/svg/IconMapArrow.svg')"></span>
              </div>    </div>
    {{/with}}
        
         <div class="add-place">
        {{#with addPlace}}
            <h2 class="add-title">{{addTitle}} </h2>
              <div class="add-block">
                <div class="upload-container" onclick="document.getElementById('file-upload').click();">
                    <img src="{{addPhoto}}" alt="Місце для фотографії">
                    <label for="file-upload" class="upload-text">Обрати фото...</label>
                    <input type="file" id="file-upload" accept="image/*">
                </div>
                
                <div class="add-part-block">
                    <input class="add-name" type="text" placeholder="{{addPlaceholder}}">
                     <div class="category">
                    
                        {{#with addFiltr}}
                            {{#with camp}}
                            <button class="each-ctg"> 
                                <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> 
                                <p class="categ-name">{{name}}</p> 
                                </button>
                            {{/with}}
                       
                            {{#with travel}}
                            <button class="each-ctg"> 
                                <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <p class="categ-name">{{name}}</p> </button>
                            {{/with}}

                            {{#with water}}
                            <button class="each-ctg"> 
                                <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <p class="categ-name">{{name}}</p> </button>
                            {{/with}}

                            {{#with monument}}
                            <button class="each-ctg"> 
                                <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <p class="categ-name">{{name}}</p> </button>
                            {{/with}}

                            {{#with museum}}
                            <button class="each-ctg"> 
                                <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <p class="categ-name">{{name}}</p> </button>
                            {{/with}}

                             {{#with waterPond}}
                            <button class="each-ctg"> 
                                <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <p class="categ-name">{{name}}</p> </button>
                            {{/with}}

                             {{#with transport}}
                            <button class="each-ctg"> 
                                <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <p class="categ-name">{{name}}</p> </button>
                            {{/with}}


                        {{/with}}                
                    </div>
                   
                     <input class="add-coord" type="text" placeholder="{{addCoordination}}">
                </div>  
            </div>

              <div class="descr">
                <input type="text" class="add-descr" placeholder="{{addDescription}}"> 
            </div>
            
            <div class="buttons">
                <div class="add-buttons">
                {{#with addButtons}}
                    <button class="icon-categor"> <span class="icon-trash" style="background-image: url('/svg/Icon-Trash.svg')"></span> </button>
                    <button class="add"><span>{{add}} </span><span class="google-map-arrow" style="background-image: url('/svg/IconMapArrow.svg')"></span></button>
                {{/with}}
                </div>
            </div>

        {{/with}}
    </div>
<div>
    <div class="questions">
        {{#with questions}}
          <h1 class="questions-title">{{title}} </h1>
          {{#each details}}
          <div class="quastion-text-block">
            <p class="quastion-text">{{question}} </p>
            {{!-- <p class="answer-text">{{answer}} </p> --}}
            <p class="icon-openanswer">+</p>
            </div>
          {{/each}}
        {{/with}}
    </div>

        <div class="contacts">       
            {{#with contacts}}
            <div class="contacts-block">
                <div class="contacts-fill">
            </div>
            <h3 class="contact-title">{{title}} </h3>
            <div class="contact-cont">
            {{#with address}}                
                <div class="website-block">
                    <span class="icon-address" style="background-image: url('/svg/iconSite.svg')"></span>
                    <a href="{{website}}" class="contact-item">{{website}} </a>
                </div>
                <div class="email-block">
                    <span class="icon-address" style="background-image: url('/svg/iconMail.svg')"></span>
                    <a href="mailto{{email}}" class="contact-item">{{email}} </a>
                </div>
                <div class="telegram-block">
                    <span class="icon-address" style="background-image: url('/svg/iconTele.svg')"></span>
                    <a href="mailto{{telegram}}" class="contact-item">{{telegram}} </a>
                </div>
            {{/with}}
            </div>
        </div>  
        {{/with}}         
        </div>
    </div>

</div>  

    <section > 
    <footer class="footer-position">
        <div class="footer">
            {{#with footer}}

            <div class="footer-cont">
                    <div class="laba">
                        <h1 class="footer-label"> M </h1>
                    </div>
                <h4 class="title-footer">{{projectTitle}} </h4>
                <p class="descr-project">{{projectDescription}} </p>
             </div> 
            {{/with}}
        </div> 
                                 
            <div class="social-icons">
                {{#with social}}
                     <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/circle.png" alt="">
                        <img  class="social-in" src="/png/instag.png" alt="">
                        </a>
                    </div>

                     <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/Facebook.png" alt="">
                    </a>
                    </div>

                    <div class="box-icon"> <a href="">
                        <img  class="social-iconca" src="/png/Telegram.png" alt="">
                    </a>
                    </div>
                {{/with}}    
            </div>
                    

                
       
    
    </footer>
    </section>
   
    {{/with}}  
</main>