<main>    
   <div class="col-12"> 
    {{#with page}}
    <div class="header">
        {{#with header}}
        <div class="top-content">    
        <strong class="col-2">{{logotype}} </strong>
            <span>
            {{#each navigation}}           
            <a href={{url}} target="_blank" class="nav-content">{{text}} </a>
            {{/each}}
            </span>
            <div class="srv-btn">
                {{#each icon}}
                <button> {{.}}</button>
                {{/each}}
            </div>
        </div>

        <h1 class="hero">{{title}} </h1>

        {{/with}} 
    </div>
   
<div class="form">
    {{#with places}}
        <div class="form-search">
        {{#with form}}
        <div>
            <label for="serch" >{{label}} </label>
            <input type="{{searchFild}}" class="form-input" placeholder="{{placeyolder}}" name="serch">
        </div>
    {{!-- <input type="{{searchFild}}" id="form-input-{{id}}" placeholder="{{placeholder}}" name="{{name}}"
        class="form-input"> --}}
            <button class="butn">{{buttonSearch}} </button>
            <button class="butn">{{buttonFiltr}} </button>
        {{/with}}
        </div>

        <div class="place-list">

        {{#each place}}
            <div>
            <img src="{{photo}}" alt="photo" class="place-img">
                <div class="place-item">
                <p class="place-descr">{{descriptionPlace}} </p>
                <p><button> Ще фото </button></p>
                </div>
            </div>
        {{/each}}       
        {{/with}}
        </div>
</div>

    <div class="prior">
     {{#each priority}}
        <div>        
            <img src="{{picture}}" alt="picture">
            <div class="prior-cont">
                <h2 class="slogan">{{slogan}} </h2>
                <p class="descr">{{description}}</p>
            </div> 
        </div>       
    {{/each}}
    </div>

    <section class="add-place">
        {{#with addPlace}}
            <h2 class="add-title">{{addTitle}} </h2>
            <img src="{{addPhoto}}" alt="add your photo">
            <input type="text" placeholder="{{addPlaceholder}}">
                {{#each addFiltr}}
                <div class="category">
                <input type="text" placeholder="{{this}}" class="each-cat">
                </div>
                {{/each}}
            <input type="text" class="add-coord" placeholder="{{addCoordination}}">
            <input type="text" class="add-descr" placeholder="{{addDescription}}"> 

            {{#with addButtons}}
                <button>{{del}} </button>
                <button>{{redact}} </button>
                <button>{{add}} </button>
            {{/with}}
        {{/with}}
    </section>
     <div class="founders">

        {{#each founders}}
            <img src="{{personPhoto}}" alt="photo">
            <h3 class="faunder-name">{{name}} </h3>
            <p class="place-descr">{{about}} </p>
            
        {{/each}}
    </div>

    <footer class="footer">
        {{#with footer}}
            <div class="logo">
                <img src="" alt="{{projectLogo}}">
            </div>
            <h4 class="project">{{projectTitle}} </h4>
            <p class="descr-project">{{projectDescription}}  </p>
            {{#each socialLinks}}
                <a href="{{href}}" >{{link}} </a>
            {{/each}}
        {{/with}}
    </footer>


    {{/with}}   

    </div>
</main>