<main>    
   
    {{#with page}}
    <div class="header">
        {{#with header}}
        <div class="top-content">    
            <strong class="logo">{{logotype}} </strong>
            <span>
                {{#each navigation}}           
                <a href={{url}} target="_blank" class="nav-content">{{text}} </a>
                {{/each}}
            </span>
            {{!-- <div class="srv-btn">
                {{#each icon}}
                <button> {{.}}</button>
                {{/each}}
            </div> --}}
        </div>
        <div class="hero-block">
        {{#with hero}}  
            <h1 class="hero-title">{{title}} </h1>
            <p class="hero-text">{{text}} </p>
            <div class="hero-btn">
            {{#with buttons}}
                <button class="search">{{serch}} </button>
                <div>
                 <button class="learn">{{learn}} 
                  
                   </button>
                    <span class="icon" style="background-image: url('/svg/arrow-more.svg')"></span>

                 </div>
            {{/with}}
            </div>

            {{/with}}
        
        {{/with}} 
        </div>
    </div>

    {{#with about}}
    <div class="about">
        <h2 class="about-title">{{title}} </h2>
        <div class="about-cont">
            {{#each content}}        
            <div class="about-items">
                <img class="about-img" src="{{picture}}" alt="picture">
                <h2 class="about-slogan">{{slogan}} </h2>
                <p class="about-descr">{{description}}</p>
            </div>                 
        {{/each}}
        </div> 
    </div>
    {{/with}}
   
<div class="social">    
     
     <img class="picture" src="/img/phone.png" alt="picture" srcset="">

     <div class="social-block">
     <h2 class="social-title">Слідкуй за нами в соцмережах </h2>
     <p class="social-text">Отримуй актуальні новини про сервіс “Мандруй” та ділись із друзями. Дякуємо за підтримку. Якщо ти маєш якісь пропозиції чи зауваження щодо функціоналу або роботи сайту, тоді напиши нам. </p>
     <div class="social-icons"> 
         <span class="social-icon" style="background-image: url('/svg/instagram.svg')"></span>
         <span class="social-icon" style="background-image: url('/svg/meta.svg')"></span>
         <span class="social-icon" style="background-image: url('/svg/telegram.svg')"></span>
     </div>
     </div>



</div>

    <div class="form">
    {{#with places}}
        <h2>{{title}}</h2>
    {{!-- ------------------------------------- --}}
            <div class="form-search">
            {{#with form}}
                <div>
                    <label for="serch" >{{label}} </label>
                    <input type="{{searchFild}}" class="form-input" placeholder="{{placeyolder}}" name="serch">
                </div>
                <button class="butn">{{buttonSearch}} </button>
                <button class="butn">{{buttonFiltr}} </button>
            {{/with}}
            </div>
    {{!-- -----------------------------------------}}
            <div class="place-list">
                {{#each place}}
                    <div class="place-item">
                        <img src="{{photo}}" alt="photo" class="place-img">                    
                    
                        <div class="place-text">
                            <p class="place-descr">{{descriptionPlace}} </p>
                            <button class="place-btn"> Ще фото </button>
                        </div>
                    </div>        
                {{/each}} 
            </div>

{{!-- --------------------------------------------- --}}
        {{/with}}
    </div>
    


    <div class="add-place">
        {{#with addPlace}}

            <h2 class="add-title">{{addTitle}} </h2>
            
            <div class="add-block">
                <div class="add-part-blok">
                <img src="{{addPhoto}}" alt="add your photo">
                    <div class="add-form">
                    <input type="text" placeholder="{{addPlaceholder}}">
                        {{#each addFiltr}}
                        <div class="category">
                            <input class="each-ctg" type="text" placeholder="{{this}}" >
                        </div>
                        {{/each}}                
                    <input type="text" class="add-coord" placeholder="{{addCoordination}}">
                    </div>
                </div>
            </div>

            <input type="text" class="add-descr" placeholder="{{addDescription}}"> 
            
            <div>
            {{#with addButtons}}
                <button>{{del}} </button>
                <button>{{redact}} </button>
                <button>{{add}} </button>
            {{/with}}
            </div>

        {{/with}}
    </div>


     <div class="founders">

        {{#each founders}}
            <img src="{{personPhoto}}" alt="photo">
            <h3 class="faunder-name">{{name}} </h3>
            <p class="place-descr">{{about}} </p>
            
        {{/each}}
    </div>

    <footer class="footer">
        {{#with footer}}
            <div class="logo">
                <img src="" alt="{{projectLogo}}">
            </div>
            <h4 class="project">{{projectTitle}} </h4>
            <p class="descr-project">{{projectDescription}}  </p>
            {{#each socialLinks}}
                <a href="{{href}}" >{{link}} </a>
            {{/each}}
        {{/with}}
    </footer>


    {{/with}}  
</main>