{{#with about}}
    <div class="about">         
        <h2 class="about-title" id="service">{{title}} </h2>
        <div class="about-cont">
            {{#each content}}                   
            <a href="#{{id}}" class="about-items" >
                <span class="empty"></span>  
                <img class="about-img" src="{{picture}}" alt="picture">
                <h2 class="about-slogan">{{slogan}} </h2>
                <p class="about-descr">{{description}}</p>                
            </a>     
        {{/each}}
        </div> 
       
    </div>
{{/with}}
