 <div class="add-place">
        {{#with addPlace}}
            <h2 class="add-title" id="addPlace">{{addTitle}} </h2>
              <div class="add-block">
                <div class="upload-container" onclick="document.getElementById('file-upload').click();">
                    <img src="{{addPhoto}}" alt="Місце для фотографії">
                    <label for="file-upload" class="upload-text">Обрати фото...</label>
                    <input type="file" id="file-upload" accept="image/*">
                </div>
                
                <div class="add-part-block">
                    <input class="add-name" type="text" placeholder="{{addPlaceholder}}">
                     <div class="category">
                    
                        {{#with addFiltr}}
                            {{#with camp}}
                            <button class="each-ctg">                                 
                                <p class="categ-name">  <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <em>{{name}}</em></p> 
                                </button>
                            {{/with}}
                       
                            {{#with travel}}
                            <button class="each-ctg"> 
                                <p class="categ-name"> <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <em>{{name}}</em></p> 
                                </button>
                            {{/with}}

                            {{#with water}}
                            <button class="each-ctg"> 
                                 <p class="categ-name"> <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <em>{{name}}</em></p> 
                                </button>
                            {{/with}}

                            {{#with monument}}
                            <button class="each-ctg"> 
                                 <p class="categ-name"> <span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <em>{{name}}</em></p> 
                                </button>
                            {{/with}}

                            {{#with museum}}
                            <button class="each-ctg"> 
                                 <p class="categ-name"><span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <em>{{name}}</em></p> 
                                </button>
                            {{/with}}

                             {{#with waterPond}}
                            <button class="each-ctg"> 
                                <p class="categ-name"><span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span><em>{{name}}</em></p> 
                                </button>
                            {{/with}}

                             {{#with transport}}  
                              <button class="each-ctg">  
                                <p class="categ-name"><span class="icon-ctg" style="background-image: {{svgIcon}}">
                                </span> <em>{{name}}</em></p> 
                                </button>
                            {{/with}}


                        {{/with}}                
                    </div>
                   
                     <input class="add-coord" type="text" placeholder="{{addCoordination}}">
                </div>  
            </div>

              <div class="descr">
                <input type="text" class="add-descr" placeholder="{{addDescription}}"> 
            </div>
            
            <div class="buttons">
                <div class="add-buttons">
                {{#with addButtons}}
                    <button class="icon-categor"> <span class="icon-trash" style="background-image: url('/svg/Icon-Trash.svg')"></span> </button>
                    <button class="add"><span>{{add}} </span><span class="google-map-arrow" style="background-image: url('/svg/IconMapArrow.svg')"></span></button>
                {{/with}}
                </div>
            </div>

        {{/with}}
</div>