<div class="form">
    {{#with places}}
        <h2 id="search">{{title}}</h2>
            {{#with form}}
                <div class="form-search">
                    <input type="{{searchFild}}" class="form-input" placeholder="{{placeyolder}}" name="serch">
                    <img src="/png/iconSearch.png" alt="" class="search-icon">
                </div>

                <div class="filtr">
                    {{#with filtr}}  

                    {{#with eachCategory}}
                        <div class="filtr-category">                           
                            <em class="name-filtr">{{category}} </em>
                            <select class="input-filtr" name="" id="">
                              {{#each option}}
                                    <option>                                    
                                    {{.}}
                                    </option>
                               {{/each}}                                                    
                           </select>                            
                        </div>
                    {{/with}} 

                    {{#with eachRegion}}
                        <div class="filtr-category">
                                    
                        <em class="name-filtr">{{region}} </em>
                            <select class="input-filtr" name="" id="">
                            {{#each option}}
                                <option>                                    
                                {{.}}
                                </option>
                            {{/each}}                                                         
                            </select> 
                        </div>
                    {{/with}} 

                    {{#with eachSort}}
                        <div class="filtr-category">
                            <em class="name-filtr">{{sort}} </em>
                            <select class="input-filtr" name="" id="">
                                {{#each option}}
                                    <option>                                    
                                        {{.}}
                                    </option>
                                {{/each}}                                                         
                            </select>
                        </div> 
                    {{/with}}

                    <div class="open">
                        <img src="/png/icon-grid-fill.png" alt="" class="open-grid">
                        <img src="/png/icon-agenda.png" alt="" class="open-galerry">
                    </div>
                       
                    {{/with}}                
                {{!-- <button class="butn">{{buttonSearch}} </button>
                <button class="butn">{{buttonFiltr}} </button> --}}
                    {{/with}}
            </div>    
            <div class="place-list">
                {{#each place}}
                    <div class="place-item">
                        <img src="{{photo}}" alt="photo" class="place-img">                   
                    
                        <div class="place-text">
                            <p class="place-descr">{{descriptionPlace}} </p>
                            {{!-- <button class="place-btn"> Ще фото </button> --}}
                        </div>
                    </div>        
                {{/each}} 
            </div>
        {{/with}}
</div>